.article {
  background-image: url(../images/article-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* back button  */
.article .back-btn {
  display: inline-block;
  position: relative;
  left: 42px;
  top: 20px;
  margin: 10px;
  cursor: pointer;
  font: normal normal bold 18px/26px BrownStd;
  color: #000000;
}
.article .social-icons-div {
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translateY(-30%);
}
.article .social-icons-div a,
.article .social-icons-div svg {
  z-index: 3;
}
.article h1 {
  font: 28px/38px Nunito Sans;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
}
.article p {
  font: normal normal normal 20px/32px Nunito Sans;
  margin-top: 20px;
  margin-bottom: 20px;
}
.article h2 {
  font: normal normal bold 40px/60px Nunito Sans;
}
.article span {
  font: normal normal normal 16px/22px Nunito Sans;
}
.article p {
  font: normal normal normal 20px/32px Nunito Sans;
  margin-top: 20px;
  margin-bottom: 20px;
}
.article img {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  max-width: 430px;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .article h1 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .article h2 {
    font-size: 29px;
    line-height: 50px;
  }
  .article p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media screen and (max-width: 992px) {
  .article h1 {
    font-size: 20px;
    line-height: 20px;
  }
  .article img {
    float: none;
  }
  .article h2 {
    font-size: 25px;
    line-height: 37px;
  }
  .article span {
    font-size: 14px;
    line-height: 16px;
  }
  .article p {
    font-size: 15px;
    line-height: 22px;
  }
}
@media screen and (max-width: 576px) {
  /* back button styles  */
  .article .back-btn {
    display: none;
  }
  .article .back-btn svg {
    width: 20px;
  }
  .article .social-icons-div {
    display: none !important;
  }
  /* article title  */
  .article h1 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  /* article image  */
  .article img {
    max-width: 100%;
  }
  .article h2 {
    font-size: 16px;
    line-height: 22px;
  }
  .article span {
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
  }
  .article p {
    font-size: 14px;
    line-height: 25px;
    margin: 0;
  }
}
