.job-board {
  background-image: url(../images/section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* heading  */
.job-board .heading h2:after {
  top: -8px;
}
.job-board .heading-line{
  margin-top: 5px;
  width:25%;
  margin-left: -15px;

}
.job-board .social-icons-div {
  position: absolute;
  right: 0;
  top: 50%;
}
.job-board .social-icons-div {
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translateY(-30%);
}
.job-board .social-icons-div a,
.job-board .social-icons-div svg {
  z-index: 3;
}
.job-board .job-board-container {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 40px;
  padding: 45px;
}
.job-board .company-name,
.job-board .about-company {
  font: normal normal 800 20px/27px Nunito Sans;
  color: #0c2533;
}
.job-board .company-description {
  font: normal normal 300 12px/16px Nunito Sans;
  color: #0c2533;
}
.job-board .company-detail {
  font: normal normal normal 14px/24px Nunito Sans;
  color: #0c2533;
  margin: 5px 0;
}
.job-board .company-link {
  font: normal normal normal 12px/16px Nunito Sans;
  color: #004d9f;
  margin: 5px 0;
}
.job-board .sidebar-content-title {
  text-align: right;
  font: normal normal bold 16px/22px Nunito Sans;
  color: #0c2533;
  margin-right: 10px;
}
.job-board .sidebar-content-text {
  font: normal normal normal 16px/22px Nunito Sans;
  letter-spacing: 0px;
  color: #0c2533;
}
.job-board .about-company {
  margin-top: 20px;
}
.job-board .job-desc-container {
  background: #f8fafc 0% 0% no-repeat padding-box;
  border-radius: 40px;
  padding: 40px 20px;
  margin: 40px 0 0;
}
.job-board .job-title {
  font: normal normal 800 16px/22px Nunito Sans;
  letter-spacing: 0px;
  color: #0c2533;
  margin-bottom: 20px;
}
.job-board .job-desc-title {
  font: normal normal bold 16px/22px Nunito Sans;
  letter-spacing: 0px;
  color: #0c2533;
  width: 15%;
}
.job-board .job-desc-desc {
  font: normal normal normal 14px/19px Nunito Sans;
  letter-spacing: 0px;
  color: #0c2533;
  margin-bottom: 10px;
  width: 85%;
}
.job-board .job-desc-desc ul {
  padding-left: 0;
}
.job-board .job-desc-desc li {
  list-style-type: none;
}
.job-board .action-buttons {
  margin-left: 15%;
}
.job-board .view-job-btn {
  background: #004d9f 0% 0% no-repeat padding-box;
  border-radius: 22px;
  padding: 12px 40px;
  border: none;
  font: normal normal bold 14px/24px Poppins;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-right: 20px;
}
.job-board .delete-job-btn {
  background: #004d9f00 0% 0% no-repeat padding-box;
  border: 1px solid #d50b17;
  border-radius: 22px;
  padding: 12px 40px;
  font: 14px/24px Poppins;
  letter-spacing: 0.5px;
  color: #d50b17;
  font-weight: 500;
}
.job-board .sidebar-content.posted-date {
  margin-bottom: 28px;
}
@media screen and (max-width:992px) {
  .job-board .heading-line{
    width:40%;
  }
}
@media screen and (max-width: 768px) {
  /* heading */
.job-board .heading{
margin-bottom: 2px;
  }
.job-board .heading h2:after {
  top: -20px;
}
.job-board .heading-line{
  margin-top: 0px;
} 

  .job-board .job-desc-title {
    width: 30%;
  }
  .job-board  .view-job-btn,
  .job-board  .delete-job-btn {
    margin: 20px 5px 5px
  }
}
@media screen and (max-width: 576px) {
  .job-board  .job-board-container {
    padding: 15px;
    box-shadow: 0px 1px 2px #0000000f;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
  }
  .job-board .company-name,
  .job-board .about-company {
    font: normal normal bold 16px/22px BrownStd;
    letter-spacing: 0px;
    color: #000000;
  }
  .job-board .company-description {
    line-height: 24px;
  }
  .job-board .company-detail {
    font-size: 12px;
  }
  .job-board .sidebar-content-title {
    font: normal normal bold 16px/22px BrownStd;
    letter-spacing: 0px;
    color: #000000;
  }
  .job-board .sidebar-content-text {
    font: normal normal normal 12px/24px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
  }
  .job-board .sidebar-content.posted-date {
    margin-bottom: 16px;
  }
  .job-board .job-desc-container {
    border-radius: 24px;
    padding: 30px 20px;
    margin: 30px 0 0;
  }
  .job-board .job-title {
    margin-bottom: 15px;
    font: normal normal bold 16px/22px BrownStd;
    letter-spacing: 0px;
    color: #000000;
  }
  .job-board .job-desc-title {
    width: 40%;
    font: normal normal bold 14px/21px BrownStd;
    letter-spacing: 0px;
    color: #000000;
    padding-right: 10px;
  }
  .job-board  .job-desc-desc {
    font: normal normal normal 12px/16px Nunito Sans;
    letter-spacing: 0px;
    color: #0c2533;
    display: flex;
    align-items: center;
  }
  .job-board  .job-desc-desc ul {
    margin: 0;
  }
  .job-board .job-desc-desc li {
    display: inline-block;
  }
  .job-board .action-buttons {
    margin-left: 0;
    text-align: center;
    margin-top: 24px;
  }
  .job-board .view-job-btn,
  .job-board .delete-job-btn {
    padding: 10px 25px;
    margin: 20px 5px 5px
  }
}
