.reset-password {
  background-image: url(../images/article-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.center-heading-line {
  width: 25% !important;
  transform: translateX(150%);
  margin-top: -20px;
}
.reset-password label {
  display: none;
}
.reset-password p {
  font: normal normal 600 18px/30px Nunito Sans;
  text-align: center;
}
.reset-password input,
.reset-password select {
  border: 1px solid #8989a2 !important;
  border-radius: 116px !important;
  font: normal normal 600 18px/30px Poppins;
  color: #525f7f !important;
  text-transform: capitalize;
  padding-left: 50px;
  background: transparent;
}
input::-webkit-input-placeholder {
  color: #525f7f !important;
}

input::-moz-placeholder {
  color: #525f7f !important;
}

input::-ms-placeholder {
  color: #525f7f !important;
}

input::placeholder {
  color: #525f7f !important;
}
/* inputs gap  */
.form-group {
  margin: 16px 0;
  position: relative;
}
.reset-btn {
  font: normal normal bold 24px/40px Nunito Sans;
  letter-spacing: 0px;
  color: #ffffff;
  background: #004d9f 0% 0% no-repeat padding-box;
  border-radius: 190px;
  width: 50%;
}
.reset-btn:hover {
  color: #ffffff !important;
}
.bottom-links a {
  font: normal normal 600 18px/30px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
}
.form-group svg {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 3;
}
.width-500{
  min-width: 500px;
  max-width: 500px;
  margin: auto;
}
.create-account-link a {
  font: normal normal normal 12px/16px Nunito Sans;
  letter-spacing: 0px;
  color: #888888;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}
.create-account-link a .blue-text{
  color: #004D9F;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .center-heading h2 {
    justify-content: center;
  }
  .center-heading {
    height: 40px;
    margin: 0; 
}
  .center-heading h2:after {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .center-heading-line {
    transform: translate(150% , -19px);
}
  .reset-password input,
  .reset-password select {
    font-size: 15px;
    line-height: 24px;
  }
  .reset-btn {
    font-size: 18px;
    line-height: 30px;
  }
  .form-group svg {
    position: absolute;
    top: 7px;
    left: 24px;
    height: 21px;
    width: 12px;
  }
  .bottom-links a {
 font-size: 14px;
 line-height: 36px;
}
  
}
@media screen and (max-width: 576px) {
  .form-group {
    margin: 9px 0;
  }
  .reset-password p {
    color: #888888;
    font-size: 10px;
    line-height: 15px;
  }
  .reset-password input,
  .reset-password select {
    font-size: 12px;
    line-height: 28px;
    color: #525f7f66 !important;
  }
  input::-webkit-input-placeholder {
    color: #525f7f66 !important;
  }

  input::-moz-placeholder {
    color: #525f7f66 !important;
  }

  input::-ms-placeholder {
    color: #525f7f66 !important;
  }

  input::placeholder {
    color: #525f7f66 !important;
  }
.reset-btn {
    font: normal normal normal 9px/24px Open Sans;
    letter-spacing: 1.8px;
    color: #fffefe;
    flex-grow: 1;
  }
 .reset-btn:hover {
    color: #fffefe;
  }
  .heading h2,
  .center-heading h2 {
    text-align: center;
    justify-content: center;
  }
  .center-heading-line {
    width: 53% !important;
    margin: auto;
    transform: translate(45%, -22px);
  }
  .heading,
  .center-heading {
    height: 33px;
    margin: 5px 0;
  }
  .heading h2:after,
  .center-heading h2:after {
    top: -17px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .width-500{
  min-width: 100%;
  }
  .form-group svg {
    width: 10.848px;
    height: 11.61px;
    top: 14px;
    left: 23px;
  }
  .bottom-links a {
    font: normal normal 600 12px/15px Nunito Sans;
    letter-spacing: 0px;
    color: #888888;
    padding: 0 5px;
}
}
